* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {

    height: 100vh;
    background-image: url(img/logo-desktop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {

    padding: 80px 15%;
}

.flex {

    display: flex;
    align-items: center;
    justify-content: center;
}

.texto {

   line-height: 15px;
   margin: 20% auto;
}

.texto h1 {

    font-size: 25px;
    font-weight: 600;
}

.texto span {

    font-size: 3em;
    font-weight: 900;
    color: #023882;
    text-shadow: 0px 0px 4px #023882;
    line-height: 40px;
}

@media screen and (max-width: 900px) {

    body {

        background-image: url(img/logo-mobile.jpeg);
    }

    .container {

        padding: 30px 8%;
        text-align: center;
    }


    .flex {

        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    .texto {

        line-height: 10px;
        padding: 10px 4%;
        margin: 70% auto;
     }

    .texto h1 {

        font-size: 20px;
        font-weight: 600;
    }

    .texto span {

        font-size: 1.8em;
        line-height: 25px;
        text-shadow: 0px 0px 3px #023882;
    }
}