* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {

    height: 100vh;
    background-image: url(logo-desktop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {

    padding: 80px 15%;
}

.flex {

    display: flex;
    align-items: center;
    justify-content: center;
}

.texto {

   line-height: 15px;
}

.texto h1 {

    font-size: 25px;
    font-weight: 600;
}

.texto span {

    font-size: 3em;
    font-weight: 900;
    color: #023882;
    text-shadow: 0px 0px 4px #023882;
    line-height: 40px;
}

.imagem figure img {

    border-radius: 20px;
    box-shadow: 15px 10px 20px #000000e0;
}

.imagem figure figcaption {

    text-align: center;
    margin-top: 6px;
    background-color: #023882;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-weight: 400;
}

@media screen and (max-width: 900px) {

    body {

        background-image: url(logo-mobile.jpeg);
    }

    .container {

        padding: 30px 8%;
        text-align: center;
    }


    .flex {

        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    .texto {

        line-height: 10px;
        padding: 10px 4%;
     }

    .texto h1 {

        font-size: 20px;
        font-weight: 600;
    }

    .texto span {

        font-size: 1.8em;
        line-height: 25px;
        text-shadow: 0px 0px 3px #023882;
    }

    .imagem figure img {

        width: 100%;
        height: 400px;
        box-shadow: 10px 5px 20px #000000e0;
    }


    .imagem figure figcaption {

        margin-top: 12px;
        background-color: #fff;
        color: #002d6d;
        padding: 6px;
        font-weight: 600;
    }
}